.pixel {
    font-family: 'Chakra Petch', sans-serif;
}

.qr {
  display: none;
}

/* .social-list {
  padding-left: -50px;
} */

@media only screen and (max-device-width: 480px) {

    .mobile-font {
        font-size: 12px;
      }

      .mobile-column {
        display: flex;
        flex-direction: column;
      }

      .feature {
        margin: 4px;
        width: 90vw;
      }

}

@media only screen and (min-device-width: 800px) {



      .project {
      max-height: 50%;
      max-width: 50%;
      
      }
}